* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80rem;
  height: 60rem;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

#map {
  height: 60rem;
}
